data/
models/
reports/

.env
credentials/
service_account*.json
*_key.json

__pycache__/
*.py[cod]
*.pyo
.Python
*.egg-info/
dist/
build/
.eggs/
*.egg

.venv/
venv/
env/
ENV/


.ipynb_checkpoints/
*.ipynb_checkpoints

.vscode/settings.json
.idea/
*.swp
*.swo
.DS_Store
Thumbs.db

*.log
logs/

*.tif.aux.xml
*.ovr